<div id="footer">
  <div class="logo">
    <img src="../images/logo.png" width="291" height="60" alt="Logo">
    <a class="email" href="mailto:breatheinacu@gmail.com">Breathe In Acupuncture</a>
    <span>| 347.687.8662</span>
  </div>
  <div class="exhalespa">
    <p><a href="http://www.exhalespa.com/Locations/ILChicago/SpaTherapies/ChicagoSpa.aspx?LID=122718">Monday, Wednesday<br/>&amp; Thursday<br/>Exhale Spa Chicago<br/>945 North State Street<br/>312-753-6500</a></p>
  </div>
  <div class="broadway">
    <p><a href="http://maps.google.com/maps?q=1859+North+Elston+Ave.+Chicago,+IL+60642&hl=en&sll=37.0625,-95.677068&sspn=46.946584,93.076172&vpsrc=0&hnear=1859+N+Elston+Ave,+Chicago,+Illinois+60642&t=m&z=16&iwloc=A">By Appointment<br/>1859 North Elston Ave.<br/>Chicago, IL 60642<br/>breatheinacu@gmail.com<br/>347-687-8662</a></p>
  </div>
</div>
